<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <script type="module" src="/js/main.js" defer></script>
        <title>Document</title>
    </head>
    <body>
        <header>
            <img src="img/logo.svg" class="logo" alt="logo">
    
            <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
                <span class="sr-only">Menu</span>
            </button>
            <nav>
                <ul id="primary-navigation" class="primary-navigation" data-visible="false">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>
    
        <main>
            <h1>Hi! 👋 I'm Dani</h1>
            <div class="typewriter">
                <h2>Front-end Developer</h2>
            </div>
        </main>
        
        <section class="about">
            <div class="about-info">
                <h2>About me</h2>
                <p class="description">Designer with a passion for developing beautiful, user-friendly applications. Proficient in both front-end and back-end, with expertise in JavaScript, React, Node.js, and MongoDB. <br> Skilled in creating performant responsive designs that prioritize accessibility. Furthermore, I'm no stranger to OOP and RESTful principles. Familiar with Agile development methodologies and version control systems like Git. Used to working collaboratively with teams to deliver high-quality projects. Let's build something great together!</p>
                <button class="readmore">Read more</button>
            </div>
            <img src="img/profile.png" alt="dani">
        </section>
    
        <section class="contact">
            <h3>Get in touch</h3>
    
            <form>
                <div class="form-control">
                    <label>
                        Your name
                        <input type="text" name="name" placeholder="John Doe">
                    </label>
                </div>
                <div class="form-control">
                    <label>
                        Your email
                        <input type="email" name="email" placeholder="johndoe@example.com">
                    </label>
                </div>
                <div class="form-control">
                    <label>
                        Your message
                        <textarea name="message" placeholder="I would like to know more about..."></textarea>
                    </label>
                </div>
    
                <button class="submit">Send</button>
            </form>
        </section>
    </body>
    </html>